@font-face {
    font-family: "SourceSansPro";
    src: url("../fonts/SourceSansPro/SourceSansPro-Regular.woff");
    font-weight: 400;
}

@font-face {
    font-family: "SourceSansPro";
    src: url("../fonts/SourceSansPro/SourceSansPro-SemiBold.woff");
    font-weight: 600;
}

@font-face {
    font-family: "SourceSansPro";
    src: url("../fonts/SourceSansPro/SourceSansPro-Bold.woff");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.woff");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Medium.woff");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Bold.woff");
    font-weight: 700;
}
